yyService/Web References/DBupdate1/DBupdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ws" targetNamespace="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws">
      <xsd:element name="exchangeUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="CKH" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exchangeUpdateReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundInsertMain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="bRdFlag" type="xsd:int" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cAcc_Name" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="cVenName" type="xsd:string" />
            <xsd:element name="cCode" type="xsd:string" />
            <xsd:element name="cDepName" type="xsd:string" />
            <xsd:element name="cBusType" type="xsd:string" />
            <xsd:element name="cMaker" type="xsd:string" />
            <xsd:element name="iPrice" type="xsd:decimal" />
            <xsd:element name="iUnitCost" type="xsd:double" />
            <xsd:element name="cMemo" type="xsd:string" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="RdRecordID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundInsertMainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundInsertMainReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundDeleteMain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="DelmFlag" type="xsd:int" />
            <xsd:element name="RdRecordID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundDeleteMainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundDeleteMainReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundUpdateMainOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="cCode" type="xsd:string" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cBusType" type="xsd:string" />
            <xsd:element name="cVenName" type="xsd:string" />
            <xsd:element name="cMemo" type="xsd:string" />
            <xsd:element name="cDepName" type="xsd:string" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="cAcc_Name" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundUpdateMainOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundUpdateMainOrderReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeInsert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="From" type="xsd:string" />
            <xsd:element name="To" type="xsd:string" />
            <xsd:element name="cCode" type="xsd:string" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cMemo" type="xsd:string" />
            <xsd:element name="cMaker" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="record" type="xsd:int" />
            <xsd:element name="CKH" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeInsertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exchangeInsertReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundUpdateMain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="bRdFlag" type="xsd:int" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="iPrice" type="xsd:decimal" />
            <xsd:element name="iUnitCost" type="xsd:double" />
            <xsd:element name="CKH" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="outboundUpdateMainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outboundUpdateMainReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="flag" type="xsd:int" />
            <xsd:element name="record" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exchangeDeleteReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exchangeUpdateMain">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="exchangeUpdateMainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exchangeUpdateMainReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportInsert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="cMemo" type="xsd:string" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="cMaker" type="xsd:string" />
            <xsd:element name="cCode" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="RdRecordID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportInsertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transportInsertReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="yQuantity" type="xsd:double" />
            <xsd:element name="cMaker" type="xsd:string" />
            <xsd:element name="cCode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transportUpdateReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="index" type="xsd:int" />
            <xsd:element name="CKH" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="DelmFlag" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transportDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transportDeleteReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eosGetRecords">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="eosGetRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eosGetRecordsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eosDelRecords">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="eosDelRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eosDelRecordsReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderInsert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recordID" type="xsd:int" />
            <xsd:element name="recordsID" type="xsd:int" />
            <xsd:element name="From" type="xsd:string" />
            <xsd:element name="To" type="xsd:string" />
            <xsd:element name="cAccName" type="xsd:string" />
            <xsd:element name="dDate" type="xsd:string" />
            <xsd:element name="cMemo" type="xsd:string" />
            <xsd:element name="cMaker" type="xsd:string" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderInsertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderInsertReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recordsID" type="xsd:int" />
            <xsd:element name="cInvName" type="xsd:string" />
            <xsd:element name="cInvStd" type="xsd:string" />
            <xsd:element name="cBatch" type="xsd:string" />
            <xsd:element name="iQuantity" type="xsd:double" />
            <xsd:element name="cAccName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderUpdateReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recordsID" type="xsd:int" />
            <xsd:element name="cAccName" type="xsd:string" />
            <xsd:element name="flag" type="xsd:int" />
            <xsd:element name="record" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderDeleteReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="test">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="testResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="exchangeUpdateRequest">
    <wsdl:part name="parameters" element="impl:exchangeUpdate" />
  </wsdl:message>
  <wsdl:message name="outboundUpdateMainOrderRequest">
    <wsdl:part name="parameters" element="impl:outboundUpdateMainOrder" />
  </wsdl:message>
  <wsdl:message name="outboundUpdateMainOrderResponse">
    <wsdl:part name="parameters" element="impl:outboundUpdateMainOrderResponse" />
  </wsdl:message>
  <wsdl:message name="transportDeleteRequest">
    <wsdl:part name="parameters" element="impl:transportDelete" />
  </wsdl:message>
  <wsdl:message name="exchangeUpdateMainResponse">
    <wsdl:part name="parameters" element="impl:exchangeUpdateMainResponse" />
  </wsdl:message>
  <wsdl:message name="transportInsertRequest">
    <wsdl:part name="parameters" element="impl:transportInsert" />
  </wsdl:message>
  <wsdl:message name="exchangeInsertResponse">
    <wsdl:part name="parameters" element="impl:exchangeInsertResponse" />
  </wsdl:message>
  <wsdl:message name="outboundDeleteMainRequest">
    <wsdl:part name="parameters" element="impl:outboundDeleteMain" />
  </wsdl:message>
  <wsdl:message name="exchangeUpdateResponse">
    <wsdl:part name="parameters" element="impl:exchangeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="transportInsertResponse">
    <wsdl:part name="parameters" element="impl:transportInsertResponse" />
  </wsdl:message>
  <wsdl:message name="outboundInsertMainRequest">
    <wsdl:part name="parameters" element="impl:outboundInsertMain" />
  </wsdl:message>
  <wsdl:message name="exchangeDeleteRequest">
    <wsdl:part name="parameters" element="impl:exchangeDelete" />
  </wsdl:message>
  <wsdl:message name="transportUpdateRequest">
    <wsdl:part name="parameters" element="impl:transportUpdate" />
  </wsdl:message>
  <wsdl:message name="eosDelRecordsResponse">
    <wsdl:part name="parameters" element="impl:eosDelRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="exchangeUpdateMainRequest">
    <wsdl:part name="parameters" element="impl:exchangeUpdateMain" />
  </wsdl:message>
  <wsdl:message name="orderInsertResponse">
    <wsdl:part name="parameters" element="impl:orderInsertResponse" />
  </wsdl:message>
  <wsdl:message name="orderDeleteRequest">
    <wsdl:part name="parameters" element="impl:orderDelete" />
  </wsdl:message>
  <wsdl:message name="exchangeDeleteResponse">
    <wsdl:part name="parameters" element="impl:exchangeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="eosGetRecordsRequest">
    <wsdl:part name="parameters" element="impl:eosGetRecords" />
  </wsdl:message>
  <wsdl:message name="orderUpdateResponse">
    <wsdl:part name="parameters" element="impl:orderUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="outboundUpdateMainResponse">
    <wsdl:part name="parameters" element="impl:outboundUpdateMainResponse" />
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="impl:testResponse" />
  </wsdl:message>
  <wsdl:message name="outboundUpdateMainRequest">
    <wsdl:part name="parameters" element="impl:outboundUpdateMain" />
  </wsdl:message>
  <wsdl:message name="orderInsertRequest">
    <wsdl:part name="parameters" element="impl:orderInsert" />
  </wsdl:message>
  <wsdl:message name="outboundDeleteMainResponse">
    <wsdl:part name="parameters" element="impl:outboundDeleteMainResponse" />
  </wsdl:message>
  <wsdl:message name="exchangeInsertRequest">
    <wsdl:part name="parameters" element="impl:exchangeInsert" />
  </wsdl:message>
  <wsdl:message name="outboundInsertMainResponse">
    <wsdl:part name="parameters" element="impl:outboundInsertMainResponse" />
  </wsdl:message>
  <wsdl:message name="eosDelRecordsRequest">
    <wsdl:part name="parameters" element="impl:eosDelRecords" />
  </wsdl:message>
  <wsdl:message name="orderDeleteResponse">
    <wsdl:part name="parameters" element="impl:orderDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="transportUpdateResponse">
    <wsdl:part name="parameters" element="impl:transportUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="orderUpdateRequest">
    <wsdl:part name="parameters" element="impl:orderUpdate" />
  </wsdl:message>
  <wsdl:message name="testRequest">
    <wsdl:part name="parameters" element="impl:test" />
  </wsdl:message>
  <wsdl:message name="transportDeleteResponse">
    <wsdl:part name="parameters" element="impl:transportDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="eosGetRecordsResponse">
    <wsdl:part name="parameters" element="impl:eosGetRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="DBupdate">
    <wsdl:operation name="exchangeUpdate">
      <wsdl:input name="exchangeUpdateRequest" message="impl:exchangeUpdateRequest" />
      <wsdl:output name="exchangeUpdateResponse" message="impl:exchangeUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="outboundInsertMain">
      <wsdl:input name="outboundInsertMainRequest" message="impl:outboundInsertMainRequest" />
      <wsdl:output name="outboundInsertMainResponse" message="impl:outboundInsertMainResponse" />
    </wsdl:operation>
    <wsdl:operation name="outboundDeleteMain">
      <wsdl:input name="outboundDeleteMainRequest" message="impl:outboundDeleteMainRequest" />
      <wsdl:output name="outboundDeleteMainResponse" message="impl:outboundDeleteMainResponse" />
    </wsdl:operation>
    <wsdl:operation name="outboundUpdateMainOrder">
      <wsdl:input name="outboundUpdateMainOrderRequest" message="impl:outboundUpdateMainOrderRequest" />
      <wsdl:output name="outboundUpdateMainOrderResponse" message="impl:outboundUpdateMainOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="exchangeInsert">
      <wsdl:input name="exchangeInsertRequest" message="impl:exchangeInsertRequest" />
      <wsdl:output name="exchangeInsertResponse" message="impl:exchangeInsertResponse" />
    </wsdl:operation>
    <wsdl:operation name="outboundUpdateMain">
      <wsdl:input name="outboundUpdateMainRequest" message="impl:outboundUpdateMainRequest" />
      <wsdl:output name="outboundUpdateMainResponse" message="impl:outboundUpdateMainResponse" />
    </wsdl:operation>
    <wsdl:operation name="exchangeDelete">
      <wsdl:input name="exchangeDeleteRequest" message="impl:exchangeDeleteRequest" />
      <wsdl:output name="exchangeDeleteResponse" message="impl:exchangeDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="exchangeUpdateMain">
      <wsdl:input name="exchangeUpdateMainRequest" message="impl:exchangeUpdateMainRequest" />
      <wsdl:output name="exchangeUpdateMainResponse" message="impl:exchangeUpdateMainResponse" />
    </wsdl:operation>
    <wsdl:operation name="transportInsert">
      <wsdl:input name="transportInsertRequest" message="impl:transportInsertRequest" />
      <wsdl:output name="transportInsertResponse" message="impl:transportInsertResponse" />
    </wsdl:operation>
    <wsdl:operation name="transportUpdate">
      <wsdl:input name="transportUpdateRequest" message="impl:transportUpdateRequest" />
      <wsdl:output name="transportUpdateResponse" message="impl:transportUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="transportDelete">
      <wsdl:input name="transportDeleteRequest" message="impl:transportDeleteRequest" />
      <wsdl:output name="transportDeleteResponse" message="impl:transportDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="eosGetRecords">
      <wsdl:input name="eosGetRecordsRequest" message="impl:eosGetRecordsRequest" />
      <wsdl:output name="eosGetRecordsResponse" message="impl:eosGetRecordsResponse" />
    </wsdl:operation>
    <wsdl:operation name="eosDelRecords">
      <wsdl:input name="eosDelRecordsRequest" message="impl:eosDelRecordsRequest" />
      <wsdl:output name="eosDelRecordsResponse" message="impl:eosDelRecordsResponse" />
    </wsdl:operation>
    <wsdl:operation name="orderInsert">
      <wsdl:input name="orderInsertRequest" message="impl:orderInsertRequest" />
      <wsdl:output name="orderInsertResponse" message="impl:orderInsertResponse" />
    </wsdl:operation>
    <wsdl:operation name="orderUpdate">
      <wsdl:input name="orderUpdateRequest" message="impl:orderUpdateRequest" />
      <wsdl:output name="orderUpdateResponse" message="impl:orderUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="orderDelete">
      <wsdl:input name="orderDeleteRequest" message="impl:orderDeleteRequest" />
      <wsdl:output name="orderDeleteResponse" message="impl:orderDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input name="testRequest" message="impl:testRequest" />
      <wsdl:output name="testResponse" message="impl:testResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBupdateSoapBinding" type="impl:DBupdate">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exchangeUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exchangeUpdateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exchangeUpdateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outboundInsertMain">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="outboundInsertMainRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outboundInsertMainResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outboundDeleteMain">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="outboundDeleteMainRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outboundDeleteMainResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outboundUpdateMainOrder">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="outboundUpdateMainOrderRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outboundUpdateMainOrderResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exchangeInsert">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exchangeInsertRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exchangeInsertResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outboundUpdateMain">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="outboundUpdateMainRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outboundUpdateMainResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exchangeDelete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exchangeDeleteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exchangeDeleteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exchangeUpdateMain">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exchangeUpdateMainRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exchangeUpdateMainResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transportInsert">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="transportInsertRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transportInsertResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transportUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="transportUpdateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transportUpdateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transportDelete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="transportDeleteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transportDeleteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eosGetRecords">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="eosGetRecordsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="eosGetRecordsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eosDelRecords">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="eosDelRecordsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="eosDelRecordsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderInsert">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="orderInsertRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="orderInsertResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="orderUpdateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="orderUpdateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderDelete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="orderDeleteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="orderDeleteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="testRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBupdateService">
    <wsdl:port name="DBupdate" binding="impl:DBupdateSoapBinding">
      <wsdlsoap:address location="http://192.168.1.128/GuobangWebservice/services/DBupdate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>